
@model MyViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SQL_MVC_CarDealership</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/mySite.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SQL_MVC_CarDealership.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mySite.css" asp-append-version="true" />
</head>
<body>
         <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Car Dealership</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item active"> <a class="nav-link" asp-controller="Home" asp-action="Index">Home </a> </li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Privacy"> Privacy </a></li>
                <li class="nav-item dropdown" id="myDropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Car Menu  </a>
                @{
                    <ul class="dropdown-menu">
                        @{
                            for(int i = 0; i < 3; i++){
                                @* var sayac = Model.company[i].Totals; *@
                                <li> <a class="dropdown-item" href="#"> @Model.cars[i].Model &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        @{
                                            for(int j = 0; j < Model.cars.Count; j++){
                                                if(Model.cars[j].CID > 0 && Model.company[i].Totals == Model.cars[j].CID){
                                                    <li><a class="dropdown-item" href="#">@Model.cars[j].Model</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                }
                </li>
            </ul>
            </div>
            <!-- navbar-collapse.// -->
            </div>
            <!-- container-fluid.// -->
            </nav>
            </header>
            

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        $(document).ready(function(){
            $('#sub22').on("click", function(e){
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SQL_MVC_CarDealership - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
