@model MyViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Welcome to Our Website</h1>
    <p class="lead">Learn about <a href="https://learn.microsoft.com/aspnet/core" class="btn btn-link">building Web apps with ASP.NET Core</a>.</p>
    <hr class="my-4">
    <p>Explore our features and start building your next project today!</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Get Started</a>
</div>
